body {
  background-color: #395A99 !important;
  background: url('/images/tardis_wide.jpg') !important;
  background-size: 90%;
  color: #fff !important;
}

.container {
  min-height: 600px;
}

h1, h2, h3, input, a {
  color: #fff !important;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline overline;
}

a:visited {
  color: #fff;
}

.header {
  text-align: center;
  border-bottom: 2px white dashed;
  margin-bottom: 20px;
  margin-top: 15px;
}

.header h1 {
  margin-bottom: 5px;
}

.header h3 {
  letter-spacing: 5px;
}

.footer {
  text-align: center;
  font-size: 1.2em;
  color: #fff;
  margin: 0 auto;
}

.title {
  text-align: center;
}

.scrolllist {
  height: 400px;
  overflow-y: auto;
}
