body {
  background-color: #395A99 !important;
  background: url('/images/tardis_wide.jpg') !important;
  background-size: 90%;
}

h1, h2, h3, input, a {
  color: #fff !important;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline overline;
}

a:visited {
  color: #fff;
}

.header {
  text-align: center;
  border-bottom: 1px white dashed;
  margin-bottom: 20px;
}

.footer {
  text-align: center;
  font-size: 1.2em;
  color: #fff;
  margin-top: 25px;
}

.title {
  text-align: center;
}
