.span-16.prepend-4.append-4

  %h2.title pandori.ca: episode list

  - @episodes.each do |episode|
    .span-2
      = episode.airdate
    .span-14.last
      = link_to episode.name, episode_url(episode.friendly_id)
