.span-16.prepend-4.append-4

  %h2.title episode list

  .scrolllist
    - @episodes.each do |episode|
      .airdate.span-2
        = episode.airdate
      .span-13.last
        = link_to episode.name, episode_url(episode.friendly_id)
