- content_for :head do
  = stylesheet_link_tag "characters.css"

.span-16.prepend-4.append-4

  %h2.title the cast list

  .character-list
    - @characters.in_groups_of(@characters.count/4) do |group|
      %div.span-4.last
        - group.each do |character|
          - unless character.nil?
            = link_to character_url(character.friendly_id) do
              .character-tiny
                - img = character.random_image
                = image_tag(img.nil? ? "/images/missing_small.jpg" : img.photo.url(:tiny),
                            :class => "tiny-image")
                = character.name

